
<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr>
    <p> The List</p>
  </div>
  <div class="col-lg-12">
    <ul class="list-group">
        <a href="#" class="list-group-item" style="cursor:pointer" *ngFor= "let list of ShoopingList">
          {{list.name}}
          ({{list.NumberChossen}})
        </a>
    </ul>
  </div>
</div>
