

<div class="row">


  <div class="col-lg-12">
    <img src="https://krmangalam.edu.in/blog/wp-content/uploads/2018/07/Sustainable-Development-768x330.jpg" class="img-responsive" alt="">
  </div>

  <div class="col-lg-12">
    <h1>Recpie Name</h1>
  </div>
</div>

<div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add Ingredint </a></li>
        <li><a href="#">Delete Recipe </a></li>
        <li><a href="#">Edit Recipe</a></li>
      </ul>
    </div>

</div>
</div>
<div class="row">
  <div class="col-lg-12">
    Decription
  </div>
  <div class="col-lg-12">
    Ingredint
  </div>
</div>




