
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" *ngFor = "let recpies of recipe">
    <a href="#" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{recpies.name}}</h4>
        <p class="list-group-item-text">{{recpies.decription}}</p>
      </div>
      <span class="pull-right">
        <img [src]="recpies.Image" alt="" class="img-responsive" style="max-height: 50px;">
      </span>
    </a>
  </div>
      <app-recipe-item></app-recipe-item>

</div>

